<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(PharmacyManagement.Components.Layout.MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>یافت نشد</PageTitle>
        <LayoutView Layout="@typeof(PharmacyManagement.Components.Layout.MainLayout)">
            <p role="alert">صفحه مورد نظر یافت نشد.</p>
        </LayoutView>
    </NotFound>
</Router>